<% hidden_div_if(@cart.items.empty?, :id => "cart" ) do %>
  <%= render(:partial => "cart" , :object => @cart) %>
<% end %>
<h1>Каталог детских товаров</h1>
<% for product in @products -%>
<div class='product'>

  <h4><%=h product.name %></h4>
        	<%= link_to image_tag(product.photo.url(:medium)), product %>
        	<h4>Цена: <%= number_to_currency(product.price, :unit => 'руб', :format => "%n %u") %></h4>


<br />
</div>
<% end %>
<%= will_paginate @products, :class=>'paginate' %>