<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="mrfo-39lohGzqFnpfd7lwkWjaudJbKDXpcNnUv25Re4" />
	<title>Магазин детских товаров</title>
	<%= stylesheet_link_tag 'kwa' %>
	<%= javascript_include_tag :defaults %>
    <%= yield :head %>
</head>
<body>
  <div id="top">
  	<%= image_tag('Header.png') %>
  </div>
  <br/>	
<div id='menu'align="center">
          <a class="round" href="/"><span>Каталог</span></a>&nbsp;&nbsp;
          <a class="round" href="/deliveries"><span>Доставка</span></a>&nbsp;&nbsp;
          <a class="round" href="/services"><span>О нас</span></a>&nbsp;&nbsp;
          <a class="round" href="/promotions"><span>Акции</span></a>
</div>
 
<div align="center">
  	<div class="splitcontentright">
 	
	  <div id="novinki">
	   	<% for novinki in @novinki %>
			<h3><%=novinki.name%></h3>
			<%for p in novinki.products do%>
				<div class='product'>
					<h4><%=h p.name %></h4>
    				<%= link_to image_tag(p.photo.url(:medium)), p %>
    				<h4>Цена: <%= number_to_currency(p.price, :unit => 'руб', :format => "%n %u") %></h4>
				</div>
			<%end%>
		<%end%>
	  </div>
 	</div> 
   
   <div class="splitcontentleft">
 	 
	  <div id="registration">
		<% if logged_in? %>
		   <h1>Добро пожаловать за покупками!</h1>
		   <% permitted_to? :manage, :orders do %>
			<%= link_to 'Просмотреть заказы', orders_path %><br />
		   <%end%>
		   <%= button_to "Выйти", logout_path   %>
		<%else%>
			<div id='lr'><%=link_to 'Регистрация на сайте', '/signup'%></div>
			<br />
			<% form_tag session_path do -%>
			<p/>
			Логин:<br/>
			<%= text_field_tag 'login', @login %><br/>
			Пароль:<br/>
			<%= password_field_tag 'password', nil %>
			</p>
			<%= submit_tag 'Войти на сайт' %>
			<% end -%>
		<%end%>
	 </div>
	
	 <div id="categories">
			<h3>Категории товаров:</h3>
			<% for category in @categories %>
			<h4><%= link_to category.name, :controller=>:shop, :action => :products_by_category, :id => category.id %></h4>

			<%end%>
		<% permitted_to? :manage, :categories do %>
			<%= link_to 'Управление категориями', categories_path %>
		<%end%>
	 </div>
  </div>

  <div  id="content" class="splitcontentcenter">
		<% flash.each do |key,value| %>
         	<div id="flash" class="flash_<%= key %>" >
          	<span class="message"><%= value %></span>
         	</div>
                <% end -%>

		<%= yield %>
  </div>		
</div>

<div id='footer'>
	<p /><%=link_to 'Создание сайтов', ('http://www.agileorange.ru/') %>
</div>
</body>
</html>
